# Application Settings
APP_NAME="PROJECT-STARTER-PKS"
APP_TITLE="PKS Modern Management System"
DEBUG=True
PORT=8000
HOST="0.0.0.0"

# Security
JWT_SECRET_KEY="pks-super-secret-key-please-change-in-production"
JWT_ALGORITHM="HS256"
JWT_EXPIRE_MINUTES=10080

# Database
DATABASE_URL="sqlite+aiosqlite:///./database/database.db"
